{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}{{ action|title }} surfboard - {{ site.name }}{% endblock %}

{% block javascripts %}
    {% if debug %}
      <script src="{% static 'js/webapp/pages/surfboard/form.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    {% endif %}
  {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 breadcrumb-header">
    <ol class="breadcrumb">
      {% if surfboard %}
      <li><a href="{% url 'quiver_show' surfboard.quiver.id %}">{{ surfboard.quiver.name|title }}</a></li>
      <li><a href="{% url 'surfboard_show' surfboard.id %}">{{ surfboard }}</a></li>
      <li class="active">{{ action }} surfboard</li>
      {% else %}
      <li class="active">{{ action }} surfboard</li>
      {% endif %}
    </ol>
  </div>
</div>

<div class="row">
  <form id="surfboard-form" class="form-horizontal" method="post" action="" role="form" enctype="multipart/form-data">
    <div class="col-md-7">
      <h1 class="page-header">Surfboard details</h1>
        <fieldset>
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger">{{ form.non_field_errors|striptags }}</div>
          {% endif %}

          {% for field in form %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="id_{{ field.label }}" class="col-md-2 control-label">{{ field.label }}</label>
            <div class="col-md-{% if field.label == 'Note' %}8{% else %}6{% endif %}">
              {{ field }}
              {% if field.errors %}
              <span class="help-block">{{ field.errors|striptags }}</span>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
              <button type="submit" class="btn btn-primary">{{ action|title }} surfboard</button>
            </div>
          </div>
        </fieldset>
    </div>

    <div class="col-md-5">
      <h1 class="page-header">Images</h1>
      {{ image_formset.management_form }}
      {% for form in image_formset.forms %}
      <div class="image-form small">
        {{ form.image }}
        <div class="image-delete text-right">Delete: {{ form.DELETE }}</div>
        {{ form.id }}
        {{ form.surfboard }}
      </div>
      {% endfor %}
    </div>
  </form>
</div>

{% endblock %}
