{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}
{% load utils %}

{% block title %}{{ surfboard }} - {{ site.name }}{% endblock %}

{% block javascripts %}
    {% if debug %}
      <script src="{% static 'js/webapp/pages/surfboard/show.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    {% endif %}
  {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 breadcrumb-header">
    <ol class="breadcrumb">
      <li><a href="{% url 'quiver_show' surfboard.quiver.id %}">{{ surfboard.quiver.name|title }}</a></li>
      <li class="active">{{ surfboard }}</li>
    </ol>
    <h1 class="page-header">{{ surfboard }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="thumbnail">
      {% if surfboard.get_cover_image %}
      <img class="img-responsive" src="{{ surfboard.get_cover_image.image.url }}">
      {% else %}
      <img class="img-responsive" src="http://placehold.it/750x500&text=No+image" alt="{{ surfboard }}">
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    {% if user.id == surfboard.quiver.user.id %}
    <div class="surfboard-actions">
      <a class="btn btn-info btn-sm" href="{% url 'surfboard_edit' surfboard.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
      <button class="btn btn-danger btn-sm" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-modal">
        <span class="glyphicon glyphicon-remove-circle"></span> Delete
      </button>
    </div>
    {% endif %}
    <h3 class="lead">Surfboard details</h3>
    <strong>Quiver:</strong> {{ surfboard.quiver.name }}<br>
    <strong>Type:</strong> {{ surfboard.get_type_display }}<br>
    <strong>Brand:</strong> {{ surfboard.brand }}<br>
    <strong>Model:</strong> {{ surfboard.model }}<br>
    <strong>Length:</strong> {{ surfboard.length }}<br>
    <strong>Width:</strong> {{ surfboard.width }}<br>
    <strong>Thickness:</strong> {{ surfboard.thickness }}<br>
    <strong>Volume:</strong> {{ surfboard.volume|default:'<span class="text-muted">none</span>' }}<br><br>
    {% if surfboard.note %}
    <h3 class="lead">Notes</h3>
    <p>{{ surfboard.note }}</p>
    {% endif %}
  </div>
</div>

{% if has_multiple_images %}
<div class="row">
  <div class="col-md-12">
    <h3 class="page-header">Gallery <small>Click to view fullscreen</small></h3>
  </div>

  {% for image in surfboard.surfboard_images.all %}
  <div class="col-md-3">
    <div class="thumbnail">
      <a class="swipebox" rel="{{ surfboard }}" title="{{ surfboard }}" href="{{ image.image.url }}">
        <img class="img-responsive" src="{{ image.image.url }}">
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block modals %}
<div class="modal fade" id="delete-modal" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-label">Delete confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this surfboard?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default btn-sm" data-dismiss="modal">Cancel</a>
        <a class="btn btn-danger btn-sm" href="{% url 'surfboard_delete' surfboard.id %}">Delete</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}