{% load staticfiles %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline">
          <li class="small"><a href="{% url 'about' %}">About us</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li class="small"><a href="{% url 'terms' %}">Terms of service</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li class="small"><a href="{% url 'privacy' %}">Privacy Policy</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li class="small"><a href="{% url 'contact' %}">Contact us</a></li>
        </ul>
        <p class="copyright small">Copyright © MyQuivers 2014. All Rights Reserved.</p>
      </div>

      <div class="col-md-4 text-right social-links">
        <a href="{{ facebook_url }}" target="_blank" data-toggle="tooltip" title="Facebook" data-placement="top">
          <img src="{% static 'images/icons/social/facebook.png' %}" alt="Facebook" class="small">
        </a>
        <a href="{{ twitter_url }}" target="_blank" data-toggle="tooltip" title="Twitter" data-placement="top">
          <img src="{% static 'images/icons/social/twitter.png' %}" alt="Twitter">
        </a>
        <a href="{{ instagram_url }}" target="_blank" data-toggle="tooltip" title="Instagram" data-placement="top">
          <img src="{% static 'images/icons/social/instagram.png' %}" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
</footer>