{% load staticfiles %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="col-md-12 text-center logo-container">
      <a href="{% url 'index' %}">
        <img class="action-logo" src="{% static 'images/logos/logo-inline-326x100-darkblue.png' %}">
      </a>
    </div>
  </div>
</div>