{% load staticfiles %}

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">
        <img class="img-responsive" src="{% static 'images/logos/logo-inline-326x100-darkblue.png' %}">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        {% for quiver_id, quiver_name in quiver_id_to_quiver_name_map.iteritems %}
        <li><a href="{% url 'quiver_show' quiver_id %}">{{ quiver_name }}</a></li>
        {% endfor %}
        <li class="active"><a href="{% url 'surfboard_add' %}" class="btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add surfboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ user.gravatar_sm_url }}" class="img-responsive gravatar img-circle"> Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">{{ user.username }}</li>
            <li><a href="{% url 'edit_profile' %}">Personal information</a></li>
            <li><a href="{% url 'profile_picture' %}">Profile picture</a></li>
            <li><a href="{% url 'password_change' %}">Change password</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'login' %}">Log in</a></li>
          <li><a href="{% url 'register' %}">Sign up</a></li>
        </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>