<div class="list-group">
  <a href="{% url 'edit_profile' %}" class="list-group-item{% if active == 'personal_information' %} active{% endif %}">Personal information</a>
  <a href="{% url 'profile_picture' %}" class="list-group-item{% if active == 'profile_picture' %} active{% endif %}">Profile picture</a>
  <a href="{% url 'password_change' %}" class="list-group-item{% if active == 'password_change' %} active{% endif %}">Change password</a>
</div>