<div class="list-group">
  <a href="{% url 'about' %}" class="list-group-item{% if active == 'about' %} active{% endif %}">About us</a>
  <a href="{% url 'terms' %}" class="list-group-item{% if active == 'terms' %} active{% endif %}">Terms of service</a>
  <a href="{% url 'privacy' %}" class="list-group-item{% if active == 'privacy' %} active{% endif %}">Privacy policy</a>
  <a href="{% url 'contact' %}" class="list-group-item{% if active == 'contact' %} active{% endif %}">Contact us</a>
</div>