.btn-add {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 15px 0 0;
}

.quiver-empty {
  margin: 0 auto 20px;
  padding: 25px;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #555;
  }

  .img-responsive {
    margin: 0 auto;
    .opacity(0.5);
  }
}