@import "webapp/colors";
@import "webapp/mixins";
@import "webapp/pages/quiver/show";
@import "webapp/pages/surfboard/form";
@import "webapp/pages/unsigned/index";

body {
  background-color: @color-lightgray;

  > .container {
    background-color: @color-white;
    padding-right: 25px;
    padding-left: 25px;
    .rounded(5px);
  }

  > .container.no-background {
    background: none;

    .logo-container {
      margin: 50px 0 25px 0;
    }

    .action-logo {
      max-height: 50px;
    }
  }
}

.page-header {
  margin-top: 25px;
}

.nav {
	margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-inverse {
  background-color: @color-lightgray;

  .navbar-nav > li > a {
    color: @color-darkblue;
  }

  .navbar-toggle,
  .navbar-toggle:active {
    background-color:@color-blue;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: @color-darkblue;
  }
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: @color-blue;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  border-top: 4px solid @color-blue;

  .active {
    margin-left: 15px;
  }

  .navbar-brand {
    padding-top: 7px;
    padding-bottom: 7px;

    img {
      max-height: 50px;
    }
  }

  .dropdown-header {
    margin-top: 10px;
  }

  .navbar-toggle {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .gravatar {
    float: left;
    margin: -9px 10px 0 0;
    max-width: 38px;
    max-height: 380px;
  }
}

.navbar-collapse.in .dropdown-header {
  color: @color-blue;
}

.navbar-collapse.in .navbar-nav .open .dropdown-menu > li > a {
  color: @color-darkblue;
}

.navbar-collapse.in .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-collapse.in .navbar-nav .open .dropdown-menu > li > a:active {
  color: @color-white;
}

.sub-nav {
  margin: 15px 0 30px;
}

.breadcrumb-header {
  .breadcrumb {
    margin: 25px 0 20px;
  }

  .page-header {
    margin-top: 0;
  }
}

footer {
  padding: 35px 0 50px;
  color: @color-darkgray;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: @color-darkgray;
    font-weight: 700;
  }

  .copyright {
    margin: 15px 0 0;
  }
}

.social-links {
  a {
    display: inline-block;
  }

  img {
    width: 52px;
    height: 52px;
  }
}

.item {
  margin-bottom: 25px;
}

.unsigned-privacy section,
.unsigned-terms section {
  font-weight: 700;
  margin: 20px 0 10px;
}

.contact-info {
  margin-bottom: 25px;
}

#map-container {
  margin-top: 25px;
}
#map-canvas {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
}

.more-details {
  margin-top: 25px;
}

#forgot-pwd-link {
  margin-left: 15px;
}

#forgot-pwd-instructions {
  margin-bottom: 25px;
}

.profile-form {
  h4 {
    margin: 40px 0 25px 0;
  }

  h4:first-of-type {
    margin-top: 10.5px;
  }

  fieldset {
    margin-bottom: 25px;
  }

  textarea {
    min-height: 100px;
    height: 0;
  }
}

.img-center {
  margin:0 auto;
}

.profile-picture {
  img {
    margin-top: 20px;
  }

  .thumbnail {
    margin-bottom: 5px;
  }
}

#dialog-confirm {
  display: none;
}

.image {
  background-color: @color-black;

  .cover {
    max-width: 750px;
    max-height: 500px;
  }
}

.team-listing {
  h2 {
    margin-top: 0;
  }
}

.terms-agreed {
  margin-top: 5px;
  color: @color-gray;

  a {
    color: @color-gray;
  }
}

.wish-list li {
  padding: 5px;
  margin: 5px 0;
}

.wish-list li:hover {
  background-color: @color-lightgray;
}