@color-white: #fff;
@color-lightgray: #f6f6f6;
@color-gray: #ccc;
@color-darkgray: #999;
@color-slategray: #708090;
@color-red: #ca0b31;
@color-blue: #26AAE1;
@color-darkblue: #006687;
@color-black: #000;
