{% extends "layouts/action_layout.html" %}
{% load staticfiles %}

{% block title %}Log in - {{ site.name }}{% endblock %}

{% block content %}
<div class="container no-background">
  {% include 'partials/logo-action-template.html' %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <form id="login-form" class="form-horizontal" method="post" action="{% url 'login' %}" role="form">
          <fieldset>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <legend>Log into your account</legend>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors|striptags }}</div>
            {% endif %}

            <div class="form-group{% if form.username.errors %} has-error{% endif %}">
              <label for="id_username" class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                {{ form.username }}
                {% if form.username.errors %}
                <span class="help-block">{{ form.username.errors|striptags }}</span>
                {% endif %}
              </div>
            </div>

            <div class="form-group{% if form.password.errors %} has-error{% endif %}">
              <label for="id_password" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                {{ form.password }}
                {% if form.password.errors %}
                <span class="help-block">{{ form.password.errors|striptags }}</span>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                <div class="checkbox">
                  <label>
                    {{ form.remember_me }} Remember me
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Log in</button>
                <a id="forgot-pwd-link" href="{% url 'password_reset' %}" class="small">Forgot password?</a>
              </div>
            </div>
          </fieldset>
          <div class="small more-details">Don't have an account? <a href="{% url 'register' %}">Create one here</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}