{% extends "layouts/action_layout.html" %}

{% block title %}Reset password - {{ site.name }}{% endblock %}

{% block content %}
<div class="container no-background">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="well">
      {% if validlink %}
        <form id="new-password-form" class="form-horizontal" method="post" action="" role="form">
          <fieldset>
            {% csrf_token %}
            <legend>Set up a new password</legend>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors|striptags }}</div>
            {% endif %}

            <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
              <label for="id_new_password1" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <span class="help-block">{{ form.new_password1.errors|striptags }}</span>
                {% endif %}
              </div>
            </div>

            <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
              <label for="id_new_password2" class="col-md-3 control-label">Confirmation</label>
              <div class="col-md-9">
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <span class="help-block">{{ form.new_password2.errors|striptags }}</span>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Set password</button>
              </div>
            </div>
          </fieldset>
        </form>
      {% else %}
        <fieldset>
          <legend>Password reset error</legend>
        </fieldset>
        <p class="small">This reset link is invalid, possibly because it has already been used.</p>
        <p class="small">Please request a new <a href="{% url 'password_reset' %}">password reset</a>.</p>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}