{% extends "layouts/action_layout.html" %}

{% block title %}Reset password - {{ site.name }}{% endblock %}

{% block content %}
<div class="container no-background">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="well">
        <fieldset>
          <legend>Your password has been set.</legend>
        </fieldset>
        <p class="small">You may go ahead and log in now.</p>
        <p><a href="{% url 'login' %}" class="btn btn-primary btn-sm">Log in</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}