{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}Change password - {{ site.name }}{% endblock %}

{% block javascripts %}
    {% if debug %}
      <script src="{% static 'js/webapp/pages/account/profile.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    {% endif %}
  {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    {% include "partials/profile_header.html" %}
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    {% include "partials/profile_side_menu.html" with active='password_change' %}
  </div>

  <div class="col-md-9 profile-form">
    <form id="password-change-form" class="form-horizontal" method="post" action="{% url 'password_change' %}" role="form">
      <fieldset>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors|striptags }}</div>
        {% endif %}

        <h4>Change your password</h4>

        <div class="form-group{% if form.old_password.errors %} has-error{% endif %}">
          <label for="id_old_password" class="col-md-2 control-label">Old password</label>
          <div class="col-md-4">
            {{ form.old_password }}
            {% if form.old_password.errors %}
            <span class="help-block">{{ form.old_password.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
          <label for="id_new_password1" class="col-md-2 control-label">New password</label>
          <div class="col-md-4">
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            <span class="help-block">{{ form.new_password1.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
          <label for="id_new_password2" class="col-md-2 control-label">New password</label>
          <div class="col-md-4">
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <span class="help-block">{{ form.new_password2.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}