
{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}Password changed - {{ site.name }}{% endblock %}

{% block javascripts %}
    {% if debug %}
      <script src="{% static 'js/webapp/pages/account/profile.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    {% endif %}
  {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    {% include "partials/profile_header.html" %}
  </div>
</div>

<div class="row">
  <div class="col-md-3 profile-menu">
    {% include "partials/profile_side_menu.html" with active='password_change' %}
  </div>

  <div class="col-md-9 profile-form">
    <h4>Change your password</h4>
    <p>Your password has been changed successfully.</p>
  </div>
</div>

{% endblock %}