{% extends "layouts/action_layout.html" %}

{% block title %}Reset password - {{ site.name }}{% endblock %}

{% block content %}
<div class="container no-background">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="well">
        <fieldset>
          <legend>Password reset</legend>
        </fieldset>
        <p class="small">We've emailed you instructions for setting your password to the email address you submitted.</p>
        <p class="small">You should be receiving it shortly.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}