{% extends "layouts/action_layout.html" %}

{% block title %}Reset password - {{ site.name }}{% endblock %}

{% block content %}
<div class="container no-background">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="well">
        <form id="password-reset-form" class="form-horizontal" method="post" action="{% url 'password_reset' %}" role="form">
          <fieldset>
            {% csrf_token %}
            <legend>Password reset</legend>
            <p id="forgot-pwd-instructions" class="small">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors|striptags }}</div>
            {% endif %}

            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
              <label for="id_email" class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                {{ form.email }}
                {% if form.email.errors %}
                <span class="help-block">{{ form.email.errors|striptags }}</span>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Reset</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}