{% extends "layouts/action_layout.html" %}
{% load staticfiles %}

{% block title %}Sign up - {{ site.name }}{% endblock %}

{% block content %}
<div class="container no-background">
  {% include 'partials/logo-action-template.html' %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <form id="registration-form" class="form-horizontal" method="post" action="{% url 'register' %}" role="form">
          <fieldset>
            {% csrf_token %}
            <legend>Create a new account</legend>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors|striptags }}</div>
            {% endif %}

            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
              <label for="id_email" class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                {{ form.email }}
                {% if form.email.errors %}
                <span class="help-block">{{ form.email.errors|striptags }}</span>
                {% endif %}
              </div>
            </div>

            <div class="form-group{% if form.username.errors %} has-error{% endif %}">
              <label for="id_username" class="col-md-3 control-label">Username</label>
              <div class="col-md-9">
                {{ form.username }}
                {% if form.username.errors %}
                <span class="help-block">{{ form.username.errors|striptags }}</span>
                {% endif %}
              </div>
            </div>

            <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
              <label for="id_password1" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                {{ form.password1 }}
                {% if form.password1.errors %}
                <span class="help-block">{{ form.password1.errors|striptags }}</span>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Create account</button>
              </div>
            </div>
          </fieldset>
          <div class="small more-details">Already have an account? <a href="{% url 'login' %}">Sign in here</a></div>
        </form>
      </div>
      <div class="small text-center terms-agreed">
        By creating an account, your agree the <a href="/terms-of-service/">terms of service</a>.
      </div>
    </div>
  </div>
</div>
{% endblock %}