{% extends "layouts/action_layout.html" %}

{% block title %}Registration closed - {{ site.name }}{% endblock %}

{% block content %}
<div class="container no-background">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="well">
        <fieldset>
          <legend>Registration closed</legend>
        </fieldset>
        <p class="small">MyQuivers.com doesn't accept registration at that time.</p>
        <p class="small">Please try again soon.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}