{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}About us - {{ site.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">About us</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    {% include "partials/unsigned_side_menu.html" with active='about' %}
  </div>

  <div class="col-md-9">
    <p>MyQuivers.com wants to become a platform for surfbers to manage their surfboards, share them with friends, be able to find reviews and exchange information. It's the easiest way for you to keep track of your old surfboards, your progression, and look for a new surfboard</p>
    <p>Thousands of neighborhoods are already using Nextdoor to build happier, safer places to call home.</p>
    <p>People are using MyQuivers to:</p>

    <ul>
      <li>Remember their old surfboards, especially dimensions but also pictures</li>
      <li>Organize your current boards</li>
      <li>Track down new surfboards you want to buy next</li>
      <li>Find out who surf what around you</li>
      <li>Look for help by asking advices and read reviews</li>
      <li>Finally you'll be able to see your progression/evolution by comparing your old board and current ones</li>
    </ul>

    <p>MyQuivers’s mission is to use the power of technology to build a way to manage surfboards and find your next one.</p>

    <h2 class="page-header">Our mission</h2>
    <p>I created MyQuivers because I believe that there is a lot of things to do to make people find surfboards, sell and trade, and also understand better their surfing abilities by comparing with people surfboard the same spots, the same boards, and for your physical abilities. I hope that surfers everywhere will use the MyQuivers platform to build stronger and better surfer community around the world.</p>
    <p>Based in San Francisco, California, MyQuivers was founded in 2013 and is auto-funded, it is a project that will involve a lot as I really think there are a lot of great things to do to make the surf community better, follow our favorites surfers, understand what they ride, and more. Keep in touch and you'll see improvements every month, new features will be added to make this platform fun and really useful, without making you loose time online and spend less time in the water</p>
    <p>Yep, go surf and have fun! You can also find me somewhere around Ocean Beach in San Francisco, CA (all the way to Santa Cruz), or South West of France when I'm back home, usually between Capbreton and Seignosse.</p>

    <h2 class="page-header">Our team</h2>
    <img class="img-circle img-responsive" src="{% static 'images/team/damien-02.jpg' %}">
    <h3>Damien Poulain <small>Creator</small></h3>
    <p>
      Developed MyQuivers.com as a side project.<br>
      Operations, web development, UX/UI, I did it all.<br>
      <a href="https://www.facebook.com/dachmt" target="_blank">Facebook</a> / <a href="https://www.twitter.com/dachmt" target="_blank">@dachmt</a>
    </p>
  </div>
</div>
{% endblock %}