{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}Contact us - {{ site.name }}{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrS9olhNCDkvNXRw_M36yg9ON-dUDc0hs&sensor=false"></script>
<script type="text/javascript">
  function initialize() {
    var myQuiversLatlng = new google.maps.LatLng(37.766085,-122.424314);

    var mapOptions = {
      center: myQuiversLatlng,
      zoom: 15
    };

    var map = new google.maps.Map(
        document.getElementById("map-canvas"),
        mapOptions
    );

    var marker = new google.maps.Marker({
      position: myQuiversLatlng,
      map: map,
      title: 'MyQuivers'
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Contact us</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    {% include "partials/unsigned_side_menu.html" with active='contact' %}
  </div>

  <div class="col-md-9">
    <div class="col-md-8">
    <form id="contact-form" class="form-horizontal" method="post" action="{% url 'contact' %}" role="form">
      <fieldset>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors|striptags }}</div>
        {% endif %}
        {% if confirmation_message != None %}
        <div class="alert alert-success">{{ confirmation_message }}</div>
        {% endif %}

        <div class="form-group{% if form.sender.errors %} has-error{% endif %}">
          <label for="id_sender" class="col-md-2 control-label">Email</label>
          <div class="col-md-9">
            {{ form.sender }}
            {% if form.sender.errors %}
            <span class="help-block">{{ form.sender.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.subject.errors %} has-error{% endif %}">
          <label for="id_subject" class="col-md-2 control-label">Subject</label>
          <div class="col-md-9">
            {{ form.subject }}
            {% if form.subject.errors %}
            <span class="help-block">{{ form.subject.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.message.errors %} has-error{% endif %}">
          <label for="id_message" class="col-md-2 control-label">Message</label>
          <div class="col-md-9">
            {{ form.message }}
            {% if form.message.errors %}
            <span class="help-block">{{ form.message.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-9 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-3 col-md-offset-1">
      <address>
        <strong>MyQuivers.com</strong><br>
        312 Guerrero Street<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (408) 480-7497
      </address>

      <address>
        <strong>Email us</strong><br>
        <a href="mailto:contact@myquivers.com">contact@myquivers.com</a>
      </address>

      <div class="social-links">
        <a href="{{ facebook_url }}" target="_blank" data-toggle="tooltip" title="Facebook" data-placement="bottom">
          <img src="{% static 'images/icons/social/facebook.png' %}" alt="Facebook" class="small">
        </a>
        <a href="{{ twitter_url }}" target="_blank" data-toggle="tooltip" title="Twitter" data-placement="bottom">
          <img src="{% static 'images/icons/social/twitter.png' %}" alt="Twitter">
        </a>
        <a href="{{ instagram_url }}" target="_blank" data-toggle="tooltip" title="Instagram" data-placement="bottom">
          <img src="{% static 'images/icons/social/instagram.png' %}" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div id="map-container" class="col-md-9 col-md-offset-3">
    <div id="map-canvas"></div>
  </div>
</div>
{% endblock %}