{% extends 'layouts/homepage_layout.html' %}
{% load staticfiles %}

{% block javascripts %}
  {% if debug %}
    <script src="{% static 'js/webapp/pages/unsigned/index.js' %}" xmlns="http://www.w3.org/1999/html"></script>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <img class="img-responsive logo" src="{% static 'images/logos/logo-inline-326x100-lightblue.png' %}">
  </div>
  <div class="col-md-6 text-right">
    <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Log in</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h1>Your online surfboards rack</h1>
    <p class="lead">
      Keep track of what I had, what you have, and what you want.<br>
      Compare with others, find surfboard reviews and get your next board.<br>
      Go surf and stop wasting time.
    </p>
    <form id="registration-form-homepage" method="post" action="{% url 'register' %}" class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
      {% csrf_token %}
      {{ registration_form.email }}
      {{ registration_form.username }}
      {{ registration_form.password1 }}
      <button type="submit" class="btn btn-primary btn-large btn-block">Add your surfboards</button>
      <div class="small terms-agreed">
        By creating an account, your agree the <a href="{% url 'terms' %}">terms of service</a>.
      </div>
    </form>
  </div>
</div>
{% endblock %}