{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}Privacy policy - {{ site.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Privacy policy</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    {% include "partials/unsigned_side_menu.html" with active='privacy' %}
  </div>

  <div class="col-md-9 sections">
    <p>
      This Privacy Policy governs the manner in which MyQuivers collects, uses, maintains and discloses information
      collected from users (each, a "User") of the <a href="{% url 'index' %}">{{ site }}</a>
      website ("Site"). This privacy policy applies to the Site and all products and services offered by MyQuivers.
    </p>

    <section id="personal-identification-info">Personal identification information</section>
    <p>
      We may collect personal identification information from Users in a variety of ways, including, but not limited
      to, when Users visit our site, register on the site, fill out a form, and in connection with other activities,
      services, features or resources we make available on our Site. Users may be asked for, as appropriate, name,
      email address. We will collect personal identification information from Users only if they voluntarily submit
      such information to us. Users can always refuse to supply personally identification information, except that
      it may prevent them from engaging in certain Site related activities.
    </p>

    <section id="non-personal-identification-info">Non-personal identification information</section>
    <p>
      We may collect non-personal identification information about Users whenever they interact with our Site.
      Non-personal identification information may include the browser name, the type of computer and technical
      information about Users means of connection to our Site, such as the operating system and the Internet service
      providers utilized and other similar information.
    </p>

    <section id="web-browser-cookies">Web browser cookies</section>
    <p>
      Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive
      for record-keeping purposes and sometimes to track information about them. User may choose to set their web
      browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of
      the Site may not function properly.
    </p>

    <section id="how-we-use-collected-info">How we use collected information</section>
    <p>
      MyQuivers may collect and use Users personal information for the following purposes:
      <ul>
        <li>
          <i>To personalize user experience</i>
          <p>We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.</p>
        </li>
        <li>
          <i>To improve our Site</i>
          <p>We may use feedback you provide to improve our products and services.</p>
        </li>
        <li>
          <i>To send periodic emails</i>
          <p>We may use the email address to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, they may do so by contacting us via our Site.</p>
        </li>
      </ul>
    </p>

    <section id="how-we-protect-your-info">How we protect your information</section>
    <p>
      We adopt appropriate data collection, storage and processing practices and security measures to protect
      against unauthorized access, alteration, disclosure or destruction of your personal information, username,
      password, transaction information and data stored on our Site.
    </p>

    <section id="sharing-your-personal-info">Sharing your personal information</section>
    <p>
      We do not sell, trade, or rent Users personal identification information to others. We may share generic
      aggregated demographic information not linked to any personal identification information regarding visitors
      and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
    </p>

    <section id="third-party-websites">Third party websites</section>
    <p>
      Users may find advertising or other content on our Site that link to the sites and services of our partners,
      suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links
      that appear on these sites and are not responsible for the practices employed by websites linked to or from
      our Site. In addition, these sites or services, including their content and links, may be constantly changing.
      These sites and services may have their own privacy policies and customer service policies. Browsing and
      interaction on any other website, including websites which have a link to our Site, is subject to that
      website's own terms and policies.
    </p>

    <section id="changes-to-this-privacy-policy">Changes to this privacy policy</section>
    <p>
      MyQuivers has the discretion to update this privacy policy at any time. When we do, we will send you an email.
      We encourage Users to frequently check this page for any changes to stay informed about how we are helping to
      protect the personal information we collect. You acknowledge and agree that it is your responsibility to review
      this privacy policy periodically and become aware of modifications.
    </p>

    <section id="your-acceptance-of-these-terms">Your acceptance of these terms</section>
    <p>By using this Site, you signify your acceptance of this policy and
      <a href="{% url 'terms' %}">terms of service</a>. If you do not agree to this policy,
      please do not use our Site. Your continued use of the Site following the posting of changes to this policy
      will be deemed your acceptance of those changes.
    </p>

    <section id="contacting-us">Contacting us</section>
    <p>
      If you have any questions about this Privacy Policy, the practices of this site, or your dealings
      with this site, <a href="{% url 'contact' %}">contact us</a>.
    </p>

    <p class="text-muted small">This document was last updated on January 11, 2014</p>
  </div>
</div>
{% endblock %}