{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}Terms of service - {{ site.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Terms of service</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    {% include "partials/unsigned_side_menu.html" with active='terms' %}
  </div>

  <div class="col-md-9 sections">
    <p>
      Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using <a href="{% url 'index' %}">{{ site }}</a>
      ("the Site") operated by MyQuivers ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions
      for your use of the Site at <a href="{% url 'index' %}">{{ site }}</a>.
    </p>
    <p>
      By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or
      contributing content or other materials to the Site, you agree to be bound by these Terms of Service. Capitalized
      terms are defined in this Agreement.
    </p>

    <section id="intellectual-property">Intellectual property</section>
    <p>
      The Site and its original content, features and functionality are owned by MyQuivers and are protected by
      international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
    </p>

    <section id="termination">Termination</section>
    <p>
      We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and
      destruction of all information associated with you. All provisions of this Agreement that by their nature
      should survive termination shall survive termination, including, without limitation, ownership provisions,
      warranty disclaimers, indemnity, and limitations of liability.
    </p>

    <section id="links-to-other-sites">Links to other sites</section>
    <p>Our Site may contain links to third-party sites that are not owned or controlled by MyQuivers.</p>
    <p>
      MyQuivers has no control over, and assumes no responsibility for, the content, privacy policies, or practices
      of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy
      of any third-party site that you visit.
    </p>

    <section id="governing-law">Governing law</section>
    <p>
      This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed
      and construed in accordance with the laws of California, United States, without giving effect to any
      principles of conflicts of law.
    </p>

    <section id="changes-to-this-agreement">Changes to this agreement</section>
    <p>
      We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the
      updated terms on the Site. Your continued use of the Site after any such changes constitutes your
      acceptance of the new Terms of Service.
    </p>
    <p>
      Please review this Agreement periodically for changes. If you do not agree to any of this Agreement
      or any changes to this Agreement, do not use, access or continue to access the Site or
      discontinue any use of the Site immediately.
    </p>

    <section id="contact-us">Contact us</section>
    <p>If you have any questions about this Agreement, <a href="{% url 'contact' %}">contact us</a>.</p>

    <p class="text-muted small">This Agreement was last modified on January 11, 2014.</p>
  </div>
</div>
{% endblock %}