{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}Home - {{ site.name }}{% endblock %}

{% block javascripts %}
  {% if debug %}
    <script src="{% static 'js/webapp/pages/home/index.js' %}" xmlns="http://www.w3.org/1999/html"></script>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
{% for quiver in quivers %}
  <div class="col-md-4">
    <h2 class="page-header">{{ quiver.name }}</h2>
    {% if quiver.last_4_surfboards %}
      {% if quiver.is_list %}
      <ul class="list-unstyled wish-list">
      {% endif %}
      {% for surfboard in quiver.last_4_surfboards %}
        {% if quiver.is_list %}
        <li class="row">
          <span class="col-md-9 col-sm-9 col-xs-9">
            <span class="glyphicon glyphicon-circle-arrow-right small"></span> {{ surfboard.length|add:' '|add:surfboard.model }}
          </span>
          <span class="col-md-1 col-sm-1 col-xs-1">
            <a href="{% url 'surfboard_edit' surfboard.id %}"><span class="glyphicon glyphicon-edit"></span></a>
          </span>
          <span class="col-md-1 col-sm-1 col-xs-1">
            <a href="{% url 'surfboard_delete' surfboard.id %}" class="text-danger surfboard-delete"><span class="glyphicon glyphicon-remove"></span></a>
          </span>
        </li>
        {% else %}
        <div class="item">
          <a href="{% url 'surfboard_show' surfboard.id %}">
            {% if surfboard.get_cover_image %}
            <div class="thumbnail">
              <img src="{{ surfboard.get_cover_image.image.url }}" alt="{{ surfboard }}">
            </div>
            {% else %}
            <div class="thumbnail">
              <img class="img-responsive" src="http://placehold.it/700x400&text=No+image">
            </div>
            {% endif %}
          </a>
          <h3><a href="{% url 'surfboard_show' surfboard.id %}">{{ surfboard.length|add:' '|add:surfboard.model }}</a> <small>by {{ surfboard.brand }}</small></h3>
        </div>
        {% endif %}
      {% endfor %}
      {% if quiver.is_list %}
      </ul>
      {% else %}
      <div class="item">
        <a href="{% url 'quiver_show' quiver.id %}" class="btn btn-default btn-sm btn-block">See {{ quiver.name|lower }}</a>
      </div>
      {% endif %}
    {% else %}
    <div class="item">
      <p>
        {% if quiver.name == 'Wish list' %}
        Your list is empty.
        {% else %}
        You have no surfboard yet.
        {% endif %}
      </p>
      <a href="{% url 'surfboard_add' %}">Add surfboard</a>
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}