{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}{{ quiver.name }} - {{ site.name }}{% endblock %}

{% block javascripts %}
  {% if debug %}
    <script src="{% static 'js/webapp/pages/quiver/show.js' %}" xmlns="http://www.w3.org/1999/html"></script>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{ quiver.name }}</h1>
  </div>
</div>

<div class="row">
  {% for surfboard in surfboards %}
  <div class="col-md-4 item">
    <a href="{% url 'surfboard_show' surfboard.id %}">
      <div class="thumbnail">
      {% if surfboard.get_cover_image %}
        <img class="img-responsive" src="{{ surfboard.get_cover_image.image.url }}" alt="{{ surfboard }}">
      {% else %}
        <img class="img-responsive" src="http://placehold.it/700x400&text=No+image" alt="{{ surfboard }}">
      {% endif %}
      </div>
    </a>
    <h3><a href="{% url 'surfboard_show' surfboard.id %}">{{ surfboard.length }} {{ surfboard.model }}</a></h3>
    <p>By {{ surfboard.brand }}</p>
  </div>
  {% empty %}
  <div class="col-md-12 quiver-empty text-center">
    <h2>There's nothing here yet</h2>
    <img src="{% static 'images/empty-waves.png' %}" class="img-responsive">
  </div>
  {% endfor %}
</div>
{% endblock %}