#surfboard-form {
  h1 {
    margin-top: 0;
  }

  .image-form {
    border-top: 1px solid @color-gray;
    padding-top: 15px;
    margin-bottom: 15px;
  }

  .image-form:first-of-type {
    border-top: 0;
    padding-top: 0;
  }

  .image-delete {
    margin-top: 10px;
  }
}