{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Organize your surfboards and manage your quivers">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/css/jquery-ui-1.10.4.custom.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/swipebox/swipebox.css' %}"/>
    {% if debug %}
    {% load less %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/style.less' %}"/>
    <script src="{% static 'vendor/less/less-1.4.1.min.js' %}"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    {% endif %}

    <script src="{% static 'vendor/modernizr/modernizr-2.6.2.min.js' %}"></script>
  </head>
  <body data-module-name="{{ module }}" data-action-name="{{ action }}" class="{{ module }}-{{ action }}">
    <!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->

    {% block main %}{% endblock %}

    {% block modals %}{% endblock %}
    {% block dialogs %}{% endblock %}

    <script src="{% static "vendor/jquery/js/jquery-1.10.1.min.js" %}"></script>
    <script src="{% static "vendor/jquery/js/jquery-ui-1.10.4.custom.min.js" %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/swipebox/jquery.swipebox.min.js' %}"></script>
    <script src="{% static 'js/webapp/main.js' %}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>