{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}Personal information - {{ site.name }}{% endblock %}

{% block javascripts %}
    {% if debug %}
      <script src="{% static 'js/webapp/pages/account/profile.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    {% endif %}
  {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    {% include "partials/profile_header.html" %}
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    {% include "partials/profile_side_menu.html" with active='personal_information' %}
  </div>

  <div class="col-md-9 profile-form">
    <form id="personal-info-form" class="form-horizontal" method="post" action="{% url 'edit_profile' %}" role="form">
      <fieldset>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors|striptags }}</div>
        {% endif %}

        <h4>General</h4>
        <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
          <label for="id_first_name" class="col-md-2 control-label">First name</label>
          <div class="col-md-4">
            {{ form.first_name }}
            {% if form.first_name.errors %}
            <span class="help-block">{{ form.first_name.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
          <label for="id_last_name" class="col-md-2 control-label">Last name</label>
          <div class="col-md-4">
            {{ form.last_name }}
            {% if form.last_name.errors %}
            <span class="help-block">{{ form.last_name.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group datepicker{% if form.date_of_birth.errors %} has-error{% endif %}">
          <label for="id_date_of_birth" class="col-md-2 control-label">Date of birth</label>
          <div class="col-md-4">
            {{ form.date_of_birth }}
            {% if form.date_of_birth.errors %}
            <span class="help-block">{{ form.date_of_birth.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.zip_code.errors %} has-error{% endif %}">
          <label for="id_zip_code" class="col-md-2 control-label">ZIP code</label>
          <div class="col-md-4">
            {{ form.zip_code }}
            {% if form.zip_code.errors %}
            <span class="help-block">{{ form.zip_code.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <h4>Physical</h4>
        <div class="form-group{% if form.height.errors %} has-error{% endif %}">
          <label for="id_height" class="col-md-2 control-label">Height</label>
          <div class="col-md-4">
            {{ form.height }}
            {% if form.height.errors %}
            <span class="help-block">{{ form.height.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.weight.errors %} has-error{% endif %}">
          <label for="id_weight" class="col-md-2 control-label">Weight</label>
          <div class="col-md-4">
            {{ form.weight }}
            {% if form.weight.errors %}
            <span class="help-block">{{ form.weight.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.gender.errors %} has-error{% endif %}">
          <label for="id_gender" class="col-md-2 control-label">Gender</label>
          <div class="col-md-4">
            {{ form.gender }}
            {% if form.gender.errors %}
            <span class="help-block">{{ form.gender.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <h4>Surf</h4>
        <div class="form-group{% if form.stance.errors %} has-error{% endif %}">
          <label for="id_stance" class="col-md-2 control-label">Stance</label>
          <div class="col-md-4">
            {{ form.stance }}
            {% if form.stance.errors %}
            <span class="help-block">{{ form.stance.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.year_started_surfing.errors %} has-error{% endif %}">
          <label for="id_year_started_surfing" class="col-md-2 control-label">Year started surfing</label>
          <div class="col-md-4">
            {{ form.year_started_surfing }}
            {% if form.year_started_surfing.errors %}
            <span class="help-block">{{ form.year_started_surfing.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.fantasy_surfer_id.errors %} has-error{% endif %}">
          <label for="id_fantasy_surfer_id" class="col-md-2 control-label">Fantasy Surfer ID</label>
          <div class="col-md-4">
            {{ form.fantasy_surfer_id }}
            {% if form.fantasy_surfer_id.errors %}
            <span class="help-block">{{ form.fantasy_surfer_id.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.home_spot.errors %} has-error{% endif %}">
          <label for="id_home_spot" class="col-md-2 control-label">Home spot</label>
          <div class="col-md-4">
            {{ form.home_spot }}
            {% if form.home_spot.errors %}
            <span class="help-block">{{ form.home_spot.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group{% if form.favorite_spots.errors %} has-error{% endif %}">
          <label for="id_favorite_spots" class="col-md-2 control-label">Favorite spots</label>
          <div class="col-md-6">
            {{ form.favorite_spots }}
            {% if form.favorite_spots.errors %}
            <span class="help-block">{{ form.favorite_spots.errors|striptags }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}