{% extends 'layouts/base_layout.html' %}
{% load staticfiles %}

{% block title %}Profile picture - {{ site.name }}{% endblock %}

{% block javascripts %}
    {% if debug %}
      <script src="{% static 'js/webapp/pages/account/profile.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    {% endif %}
  {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    {% include "partials/profile_header.html" %}
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    {% include "partials/profile_side_menu.html" with active='profile_picture' %}
  </div>

  <div class="col-md-9 profile-picture item">
    <h4>Current profile picture <small>from Gravatar</small></h4>
    <img class="img-responsive thumbnail" src="{{ user.gravatar_xl_url }}">
    <p><a href="{{ gravatar_url }}" target="_blank">Change picture on Gravatar.com</a></p>
  </div>
</div>

{% endblock %}