.unsigned-index {
  background: url(../images/backgrounds/ocean-sunrise.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 20px;

  .container {
    background: none;
  }

  img.logo {
    max-height: 50px;
  }

  .lead {
    color: @color-white;
  }

  h1 {
    margin-top: 75px;
    color: #ffefd5;
  }

  form {
    margin-top: 50px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 14px;
    height: 50px;
    margin-bottom: 15px;
  }

  .terms-agreed {
    margin-top: 5px;
    color: @color-gray;

    a {
      color: @color-lightgray;
    }
  }
}